/*{
    border: solid;
}*/
h1{
    color: #e40000;
    justify-content: space-evenly;
    align-self: center;
    padding-left: 750px;
    outline: black;
    font-family: cursive;
}
   body{
   background-color: blanchedalmond;
}
h2{
    color: #ff7b00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex:wrap;
    opacity: 0.5;
}
.grid:hover{
    opacity: 1;
}
a{
    text-decoration-style: wavy;
}
